.contact {
    display: flex;
}
.middle-space-section {
    height: 500px;
    width: 1300px;
    margin-top: 100px;
}
.contact-img {
    width: 1300px;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
}
.contact-text {
    position: relative;
    display: table-cell;                /* Így lesz középre igazítható vertikálisan*/
    vertical-align: middle;             /* Igy állítható középre vertikálisan*/
    height: 500px;
    width: 1300px;
    opacity: 0.5;
    background-color: var(--dark-beige);
    font-size: 100px;
    color: var(--light-beige);
    text-align: center;
}
.left-space {
    width: 300px;
    left: 0;
    top: 100px;
}
.right-space {
    width: 300px;
    right: 0;
    top: 100px;
}
.middle-contact {
    display: flex;
}
.middle-contact-left {
    width: 300px;
    left: 0;
    top: 1000px;
}
.middle-contact-right {
    width: 305px;
    right: 0;
    top: 1000px;
}
.middle-contact-middle {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}
.left-div {
    flex: 1;
    background-color: white;
    padding-bottom: 50px;
    margin: 20px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 128, 0.4);
    box-shadow: 1px 3px rgb(189, 188, 188);
}
.left-div h2 {
    text-align: center;
    font-size: 40px;
    font-family: pacifico;
}
.right-div {
    flex: 1;
    background-color: rgb(226, 223, 223);
    margin: 20px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 128, 0.4);
    box-shadow: 1px 3px rgb(189, 188, 188);
}
.icon {
    display: inline-block;
    font-size: 30px;
    margin: 10px 20px 20px 135px;
}
.telephone,
.email,
.location {
    display: block;
    font-size: 30px;
}
.message-section {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;

}
.message-section h2 {
    font-size: 40px;
    padding-bottom: 15px;
    text-align: center;
}
.name-m,
.email-m {
    display: inline-block;
    padding: 10px 1px 10px 1px;
    
}
.subject-m {
    display: block;
    width: 470px;
    height: 150px;
    margin: 10px 0 20px 0
}
.btn-message {
    width: 200px;
    height: 50px;
    margin-left: 140px;
}
.google-maps {
    display: flex;
    margin-top: 20px;
}
.third-left {
    width: 300px;
    left: 0;
    top: 2000px;
}
.third-middle {
    flex: 1;
}
.map {
    width: 1300px;
    height: 600px;
}
.third-right {
    width: 300px;
    right: 0;
    top: 2000px;
}
@media (max-width: 500px) {
    .left-section {
      display: none;
    }
    .middle-section {
      display: none;
    }
    .right-section {
        font-size: 3vw;
        margin-right: 1000px;
    }
    .picture-left {
        width: 5%;
    }
    .picture-right {
        width: 5%;
    }
  }