.main-picture {
    max-width: 1600px;
    min-width: 800px;
    width: 100%;
    height: auto;
    border: 1px solid rgb(153, 142, 142);
    opacity: 0.8;
}
.picture {
    display: flex;
}
.picture-left {
    width: 15vw;
    left: 0;
    top: 100px;
}
.picture-right {
    width: 15vw;
    right: 0;
    top: 100px;
}
.text-box {
    position: relative;
    margin-top: 100px;
    display: inline-block;
}
.in-block-text {
    background-color: var(--light-beige);
    position: absolute;
    bottom: 140px;
    left: 80px;
    max-width: 1030px;
    min-width: 300px;
    width: 1fr;
    height: auto;
    font-size: 1vw;
    box-shadow: 6px 6px rgba(175, 173, 169, 0.4);
    opacity: 0.9;

   
}
.in-block-text p {
    position: flex;
    padding: 20px 40px 20px 40px;
    line-height: 150%;;
}

/* Small galery*/

.gallery-pic {
    display: inline-block;
    position: relative;
}
.small-gallery {
    display: flex;
}
.small-gallery-left {
    width: 10.5vw;
    left: 0;
    top: 400px;
}
.small-gallery-right {
    width: 15vw;
    top: 400px;
    right: 0;
}
.small-gallery-middle {
    width: auto;
}
.gallery-pic img {
    width: 24vw;
    height: 20vw;
    max-width: 500px;
    display: inline-block;
    margin: 30px 21px 30px 21px;
    box-shadow: 6px 6px rgba(175, 173, 169, 0.4);
}
.gallery-pic p {
    position: absolute;
    top: 10vw;
    left: 5vw;
    background-color: var(--light-beige);
    box-shadow: 4px 4px rgba(114, 104, 85, 0.4);
    width: 16vw;
    text-align: center;
    font-size: large;
    font-weight: 800;
    padding: 10px 0 10px 0;
}
/* .gallery-pic p:hover {
    background-color: var(--dark-beige);
    color: white;
    cursor: pointer;
    transition: 0.15s;
}

/* Bottom text fields */

.bottom-text {
    position: relative;
    height: 650px;
    display: flex;
}
.bottom-text::after {
    content: "";
    clear: both;
  }
.bottom-left {
    width: 15vw;
    left: 0;
    top: 1600px;
}
.bottom-right {
    width: 250px;
    top: 1600px;
    right: 0;
}
.services, 
.request-for,
.service-location {
    padding: 10px 30px 30px 30px;
    margin: 30px 50px 30px 0;
    border: 1px solid black;
    background-color: white;
    width: 25vw;
    text-align: center;
    font-size: 180%;
    justify-content: space-around;
    height: auto;
    min-width: 200px;
}
.service-location {
    margin-right: 0;
    font-size: 1.4vw;
}
.listing {
    list-style-type :square;
    text-align: left;
    line-height: 200%;
    font-size: 1.4vw;
}
.request-for {
    font-size: 1.4vw;
}
.service-location {
    font-size: 1vw;
}
.price {
    text-align: center;
    line-height: 200%;
}
.sevice-map {
    max-width: 18vw;
    max-height: 18vw;
}
@media (max-width: 500px) {
    .left-section {
      display: none;
    }
    .middle-section {
      display: none;
    }
    .right-section {
        font-size: 3vw;
        margin-right: 1000px;
    }
    .picture-left {
        width: 5%;
    }
    .picture-right {
        width: 5%;
    }
    .text-box {
        width: 400px;
    }
    .main-picture {
        width: 400px;
    }
    .services,
    .request-for,
    .service-location {
        height: 200px;
        font-size: 3vw;
    }
  }
